<!DOCTYPE html>
<html lang="en">
@{
    ViewData["Title"] = "Kayıt Ol";
}
@model DanisanModel
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>

</head>

<body>

    <div class="Signup-Card">
        <h1>Danışan Ekranına Hoş Geldiniz</h1>

        <h2>@Model.isim @Model.soyisim</h2>
        <div class="kullanici-key">
            <label for="danisanKey">Kullanici: </label>
            <input type="text" asp-for="danisanKey" ReadOnly="true" />
            <label for="antrenorKey">Antrenorünüz: </label>
            <input type="text" asp-for="antrenorKey" ReadOnly="true" />
        </div>
    </div>
    <form asp-action="DanisanProfilDoldur" asp-controller="Danisan" class="Signup-Form" method="post">
        <button id="profil" type="submit">Profilim</button>
    </form>
    <form asp-action="EgzersizPlani" asp-controller="Danisan" class="Signup-Form" method="post">
        <button id="egzersiz" type="submit">Egzersiz Planları</button>
    </form>
    <form asp-action="BeslenmePlani" asp-controller="Danisan" class="Signup-Form" method="post">
        <button id="beslenme" type="submit">Beslenme Planları</button>
    </form>
    <form asp-action="IlerlemeKaydi" asp-controller="Danisan" class="Signup-Form" method="post">
        <button id="ilerlemeKaydi" type="submit">İlerleme Kaydı Oluştur</button>
    </form>
    <form asp-action="IlerlemeKaydiGoruntule" asp-controller="Danisan" class="Signup-Form" method="post">
        <button id="ilerlemeKaydiGoruntule" type="submit">İlerleme Kaydı Görüntüle/Güncelle</button>
    </form>
    <form asp-action="Raporlar" asp-controller="Danisan" class="Signup-Form" method="post">
        <button id="raporlar" type="submit">Görsel Raporlar</button>
    </form>
    <form asp-action="AntrenorEslestir" asp-controller="Danisan" class="Signup-Form" method="post">
        <button id="antrenor" type="submit">Antrenör ile Eşleştir</button>
    </form>
    <form asp-action="Mesaj" asp-controller="Danisan" class="Signup-Form" method="post">
        <button id="mesaj" type="submit">Antrenörüne Mesaj Gönder</button>
    </form>
    <form asp-action="GelenMesaj" asp-controller="Danisan" class="Signup-Form" method="post">
        <button id="mesaj" type="submit">Gelen Kutusu</button>
    </form>

</body>

<style>

    * {
        box-sizing: border-box;
    }

    html, body, .wrapper {
        height: 50%;
    }

    body {
        display: grid;
        place-items: center;
        margin: 0;
        padding: 0 24px;
        color: #000;
    }

    .kullanici-key {
        width: 100%;
        font-weight: 600;
    }

        .kullanici-key > input {
            padding: 0 16px;
            border-radius: 1.25rem;
            border: 0;
            width: 20%;
        }

    .Signup-Card {
        position: static;
        z-index: 3;
        width: 100%;
        margin: 0 20px;
        padding: 70px 30px 44px;
        border-radius: 1.25rem;
        background: #fff;
        text-align: center;
    }

        .Signup-Card > h1 {
            font-size: 36px;
            font-weight: 600;
            margin: 0 0 12px;
        }



    .Signup-Form {
        width: 100%;
        margin: 0;
        display: grid;
        gap: 16px;
    }

        .Signup-Form > input, .Signup-Form > button {
            width: 100%;
            height: 50px;
        }

        .Signup-Form > input {
            border: 2px solid #ebebeb;
            font-family: inherit;
            font-size: 15px;
            padding: 0 16px;
            border-radius: 1.25rem;
            transition: all 0.375s;
        }

            .Signup-Form > input:hover {
                border: 2px solid #10449A;
            }

        .Signup-Form > button {
            cursor: pointer;
            width: 100%;
            padding: 0 16px;
            border-radius: 1.25rem;
            background: #216ce7;
            color: #f9f9f9;
            border: 0;
            font-family: inherit;
            font-size: 1rem;
            font-weight: 600;
            text-align: center;
            letter-spacing: 2px;
            transition: all 0.375s;
            margin-bottom: 5px;
            margin-top: 5px;
        }

            .Signup-Form > button:hover {
                background: #10449A;
            }

        .Signup-Form > a {
            color: #216ce7;
            font-size: 0.9rem;
            text-align: left;
            text-decoration: none;
            margin-bottom: 6px;
            transition: all 0.375s;
        }

            .Signup-Form > a:hover {
                color: #10449A;
            }

</style>
</html>
