<!DOCTYPE html>
<html lang="en">
@{
    ViewData["Title"] = "Şifre Yenileme";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>

</head>

<body>
    <div class="Login-Card">
        <h1>Şifre Yenileme Ekranına Hoş Geldiniz</h1>
        <h2>Lütfen Bilgilerinizi Giriniz</h2>
        
    </div>
    <form asp-action="SifreDegis" asp-controller="Login" class="Login-form">
        <input name="email" type="email" placeholder="E-Posta Adresinizi Giriniz" />
        <input name="sifre" type="password" placeholder="Yeni Şifrenizi Giriniz" />
        <button id="Giris" type="submit">Kaydet</button>
    </form>

</body>

<style>

    * {
        box-sizing: border-box;
    }

    html, body, .wrapper {
        height: 50%;
    }

    body {
        display: grid;
        place-items: center;
        margin: 0;
        padding: 0 24px;
        color: #000;
        ;
    }

    .Login-Card {
        position: static;
        z-index: 3;
        width: 100%;
        margin: 0 20px;
        padding: 70px 30px 44px;
        border-radius: 1.25rem;
        background: #fff;
        text-align: center;
    }

        .Login-Card > h1 {
            font-size: 36px;
            font-weight: 600;
            margin: 0 0 12px;
        }

        .Login-Card > h2 {
            color: rgba(0, 0, 0, 0.85);
            margin: 0 0 30px;
            font-weight: 500;
            font-size: 1rem;
        }

    .Login-form {
        width: 100%;
        margin: 0;
        display: grid;
        gap: 16px;
    }

        .Login-form > input, .Login-form > button {
            width: 100%;
            height: 50px;
        }

        .Login-form > input {
            border: 2px solid #ebebeb;
            font-family: inherit;
            font-size: 15px;
            padding: 0 16px;
            border-radius: 1.25rem;
            transition: all 0.375s;
        }

            .Login-form > input:hover {
                border: 2px solid #10449A;
            }

        .Login-form > button {
            cursor: pointer;
            width: 100%;
            padding: 0 16px;
            border-radius: 1.25rem;
            background: #216ce7;
            color: #f9f9f9;
            border: 0;
            font-family: inherit;
            font-size: 1rem;
            font-weight: 600;
            text-align: center;
            letter-spacing: 2px;
            transition: all 0.375s;
        }

            .Login-form > button:hover {
                background: #10449A;
            }

        .Login-form > a {
            color: #216ce7;
            font-size: 0.9rem;
            text-align: left;
            text-decoration: none;
            margin-bottom: 6px;
            transition: all 0.375s;
        }

            .Login-form > a:hover {
                color: #10449A;
            }

</style>

</html>
