<!DOCTYPE html>
<html lang="en">
@{
    ViewData["Title"] = "Ana Sayfa";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>

</head>

<body>
    <div class="text-center">
        <h1 class="Giris">Fit-Life'a Hoş Geldiniz!</h1>
        <p>Yan Taraftaki Menüden Kayıt Olabilir Ve Giriş Yapabilirsiniz </p>
    </div>
</body>

<style>
    body{
        display: grid;
        place-items: center;
        margin: 0px;
        padding: 100px;
    }
</style>
</html>

